apiVersion: v1
kind: Service
metadata:
  name: {{ template "sumologic.fullname" . }}-fluentd-metrics-headless
  labels:
    app: {{ template "sumologic.labels.app" . }}-fluentd-metrics-headless
    {{- include "sumologic.labels.common" . | nindent 4 }}
spec:
  selector:
    app: {{ template "sumologic.labels.app" . }}-fluentd-metrics
  clusterIP: None
  ports:
  - name: prom-write
    port: 9888
    targetPort: 9888
    protocol: TCP
  - name: metrics
    port: 24231
    targetPort: 24231
    protocol: TCP
