{{- if and .Values.sumologic.scc.create (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  annotations:
    kubernetes.io/description: |
      This provides the minimum requirements Sumo Logic Kubernetes Collection to run in Openshift.
  name: {{ template "sumologic.metadata.name.securitycontextconstraints" . }}
  labels:
    app: {{ template "sumologic.labels.app.securitycontextconstraints" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegeEscalation: true # fluent-bit
allowPrivilegedContainer: true # fluent-bit
allowedCapabilities: []
allowedUnsafeSysctls: []
defaultAddCapabilities: []
fsGroup:
  type: MustRunAs
  ranges:
    - min: 65534
      max: 65534
    - min: 999 # fluentd
      max: 1000 # prometheus
    - min: 2000 # prometheus
      max: 2000 # prometheus
groups:
- system:serviceaccounts:{{ .Release.Namespace }}
priority: 0
readOnlyRootFilesystem: false
requiredDropCapabilities: []
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
seccompProfiles: []
supplementalGroups:
  type: RunAsAny
users: []
volumes:
- hostPath
- emptyDir
- secret
- configMap
- persistentVolumeClaim
- projected
{{- end }}
