apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "sumologic.metadata.name.roles.serviceaccount" . }}
  labels:
    app: {{ template "sumologic.labels.app.roles.serviceaccount" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
  {{- with .Values.sumologic.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- if .Values.sumologic.pullSecrets }}
imagePullSecrets:
{{ toYaml .Values.sumologic.pullSecrets | indent 2 }}
{{- end }}
