{{- if and (eq .Values.sumologic.logs.enabled true) (eq .Values.fluentd.logs.enabled true) }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "sumologic.metadata.name.logs.statefulset" . }}
  labels:
    app: {{ template "sumologic.labels.app.logs.statefulset" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: {{ template "sumologic.labels.app.logs.pod" . }}
  serviceName: {{ template "sumologic.metadata.name.logs.service-headless" . }}
  podManagementPolicy: "Parallel"
  replicas: {{ .Values.fluentd.logs.statefulset.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "sumologic.labels.app.logs.pod" . }}
        {{- include "sumologic.labels.common" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "sumologic.metadata.name.roles.serviceaccount" . }}
{{- if .Values.fluentd.logs.statefulset.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.fluentd.logs.statefulset.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.fluentd.logs.statefulset.tolerations }}
      tolerations:
{{ toYaml .Values.fluentd.logs.statefulset.tolerations | indent 8 }}
{{- end }}
{{- if or .Values.fluentd.logs.statefulset.affinity  .Values.fluentd.logs.statefulset.podAntiAffinity }}
      affinity:
{{- if .Values.fluentd.logs.statefulset.affinity }}
{{ toYaml .Values.fluentd.logs.statefulset.affinity | indent 8 }}
{{- end }}
{{- if eq .Values.fluentd.logs.statefulset.podAntiAffinity "hard"}}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - {{ template "sumologic.labels.app.logs" . }}
                - {{ template "sumologic.labels.app.metrics" . }}
              - key: app
                operator: In
                values:
                - prometheus-operator-prometheus
            topologyKey: "kubernetes.io/hostname"
{{else if eq .Values.fluentd.logs.statefulset.podAntiAffinity "soft"}}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "sumologic.labels.app.logs.pod" . }}
                  - {{ template "sumologic.labels.app.metrics.pod" . }}
                - key: app
                  operator: In
                  values:
                  - prometheus-operator-prometheus
              topologyKey: "kubernetes.io/hostname"
{{- end }}
{{- end }}
      volumes:
      - name: pos-files
        hostPath:
          path: /var/run/fluentd-pos
          type: ""
      - name: config-volume
        configMap:
          name: {{ template "sumologic.metadata.name.logs.configmap" . }}
{{- if .Values.fluentd.logs.extraVolumes }}
{{ toYaml .Values.fluentd.logs.extraVolumes | indent 8 }}
{{- end }}
      securityContext:
        fsGroup: {{ .Values.fluentd.securityContext.fsGroup }}
      containers:
      - name: fluentd
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          {{- toYaml .Values.fluentd.logs.statefulset.resources | nindent 10 }}
        ports:
        {{- if .Values.sumologic.traces.enabled }}
        - name: zipkin-write
          containerPort: 9411
          protocol: TCP
        {{- end }}
        - name: fluent-bit
          containerPort: 24321
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /fluentd.pod.healthcheck?json=%7B%22log%22%3A+%22health+check%22%7D
            port: 9880
          initialDelaySeconds: 300
          periodSeconds: 30
          timeoutSeconds: 3
        readinessProbe:
          httpGet:
            path: /fluentd.pod.healthcheck?json=%7B%22log%22%3A+%22health+check%22%7D
            port: 9880
          initialDelaySeconds: 30
          periodSeconds: 5
        volumeMounts:
        - name: config-volume
          mountPath: /fluentd/etc/
        - name: pos-files
          mountPath: /mnt/pos/
{{- if .Values.fluentd.persistence.enabled }}
        - name: buffer
          mountPath: "/fluentd/buffer"
{{- end}}
{{- if .Values.fluentd.logs.extraVolumeMounts }}
{{ toYaml .Values.fluentd.logs.extraVolumeMounts | indent 8 }}
{{- end }}
        env:
        - name: {{ template "terraform.sources.endpoint" (include "terraform.sources.name" "logs") }}
          valueFrom:
            secretKeyRef:
              name: sumologic
              key: {{ template "terraform.sources.config-map-variable" (dict "Context" .Values "Endpoint" "endpoint-logs") }}
        {{- if .Values.sumologic.traces.enabled }}
        - name: SUMO_ENDPOINT_TRACES
          value: {{ .Values.sumologic.traces.endpoint }}
        {{- end }}
        {{- if .Values.fluentd.logs.extraEnvVars }}
{{ toYaml .Values.fluentd.logs.extraEnvVars | nindent 10 }}
        {{- end }}
        - name: ADDITIONAL_PLUGINS
          value: {{ join " " .Values.fluentd.additionalPlugins | quote }}
{{- if .Values.fluentd.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: buffer
    spec:
      accessModes: [{{ .Values.fluentd.persistence.accessMode }}]
      storageClassName: {{ .Values.fluentd.persistence.storageClass }}
      resources:
        requests:
          storage: {{ .Values.fluentd.persistence.size }}
{{- end }}
{{- end }}
