# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners

* @SumoLogic/k8s-collection-team @astencel-sumo @frankreno @kkujawa-sumo @perk-sumo @pmalek-sumo @sumo-drosiek
