# Mac OSX ignores
.DS_Store

# VS Code ignores
.vscode/*
!.vscode/extensions.json
!.vscode/snippets.code-snippets

# Helm chart dependencies
deploy/helm/sumologic/charts
deploy/helm/sumologic/tmpcharts
deploy/helm/sumologic/requirements.lock

# Helm chart lock file
deploy/helm/sumologic/Chart.lock

# vagrant ignores
.vagrant
*.log
.kube-config

# ignore tmp directories
tmp

# Go workspace files
go.work
go.work.sum

# Local values files
values.local.yaml

# Website cache for the dependency checker
cache

# Python cache
__pycache__
