# Ruby ignores
*.bridgesupport
*.gem
*.rbc
.dat*
*/.bundle/*
*/vendor/*
.ruby-gemset
.ruby-version
.rvmrc
bin/*
Gemfile.lock

# Mac OSX ignores
.DS_Store

# VS Code ignores
.vscode/*

# Helm chart dependencies
deploy/helm/sumologic/charts
deploy/helm/sumologic/charts/*
deploy/helm/sumologic/requirements.lock

# vagrant ignores
.vagrant
ubuntu-bionic-18.04-cloudimg-console.log
.kube-config