lang: ruby
services: docker
before_install:
  - rm -f ./Gemfile.lock
  - gem install bundler
  - sudo apt update
  - sudo apt install snapd
  - sudo snap install helm --channel=2.16/stable --classic
  - sudo curl https://github.com/mikefarah/yq/releases/download/3.2.1/yq_linux_amd64 -L -o /usr/local/bin/yq-3.2.1
  - sudo chmod +x /usr/local/bin/yq-3.2.1
  - sudo ln -s /usr/local/bin/yq-3.2.1 /usr/local/bin/yq
  - sudo apt install shellcheck
script: bash ci/build.sh
branches:
  only:
  - main
  - /^release-v\d+\.\d+$/
  - /^v\d+\.\d+\.\d+$/
  - /^v\d+\.\d+\.\d+-(alpha|beta|rc)\.\d+$/
