lang: ruby
services: docker
before_install:
  - rm -f ./Gemfile.lock
  - gem install bundler
  - sudo apt update
  - sudo apt install snapd
  - sudo snap install helm --channel=2.16/stable --classic
  - sudo snap install yq --channel=2.4/stable --classic
script: bash ci/build.sh
branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+$/
