apiVersion: v2
name: sumologic
version: 3.8.0
appVersion: 3.8.0
description: A Helm chart for collecting Kubernetes logs, metrics, traces and events into Sumo Logic.
type: application
keywords:
  - monitoring
  - logging
icon: https://raw.githubusercontent.com/SumoLogic/sumologic-kubernetes-collection/main/images/sumo_logic_logo.png
home: https://github.com/SumoLogic/sumologic-kubernetes-collection
sources:
  - https://github.com/SumoLogic/sumologic-kubernetes-collection
dependencies:
  - name: fluent-bit
    version: 0.25.0
    repository: https://fluent.github.io/helm-charts
    condition: fluent-bit.enabled,sumologic.logs.enabled
  - name: kube-prometheus-stack
    version: 40.5.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-prometheus-stack.enabled,sumologic.metrics.enabled
  - name: falco
    version: 2.4.2
    repository: https://falcosecurity.github.io/charts
    condition: falco.enabled
  - name: metrics-server
    version: 6.2.4
    repository: https://charts.bitnami.com/bitnami
    condition: metrics-server.enabled
  - name: telegraf-operator
    version: 1.3.10
    repository: https://helm.influxdata.com/
    condition: telegraf-operator.enabled
  - name: tailing-sidecar-operator
    version: 0.7.0
    repository: https://sumologic.github.io/tailing-sidecar
    condition: tailing-sidecar-operator.enabled
  - name: opentelemetry-operator
    version: 0.27.0
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: opentelemetry-operator.enabled
