apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "sumologic.sumologic-mock.name.roles.serviceaccount" . }}
  namespace: {{ template "sumologic.namespace"  . }}
  labels:
    app: {{ template "sumologic.labels.app.roles.serviceaccount" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
  annotations:
{{ include "sumologic.annotations.app.sumologic-mock.helmsh" "0" | indent 4 }}
  {{- with .Values.sumologic.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- if .Values.sumologic.pullSecrets }}
imagePullSecrets:
{{ toYaml .Values.sumologic.pullSecrets | indent 2 }}
{{- end }}
