{{- if and (eq (include "metrics.otelcol.enabled" .) "true") .Values.sumologic.metrics.collector.otelcol.enabled }}
apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: {{ template "sumologic.metadata.name.metrics.collector.opentelemetrycollector" . }}
  namespace: {{ template "sumologic.namespace"  . }}
  labels:
    {{- include "sumologic.labels.metrics.opentelemetrycollector" . | nindent 4 }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
    {{- include "sumologic.label.scrape" . | nindent 4 }}
    {{- if .Values.sumologic.podLabels }}
    {{ toYaml .Values.sumologic.podLabels | nindent 4 }}
    {{- end }}
    {{- if .Values.sumologic.metrics.collector.otelcol.podLabels }}
    {{ toYaml .Values.sumologic.metrics.collector.otelcol.podLabels | nindent 4 }}
    {{- end }}
spec:
  image: {{ .Values.sumologic.otelcolImage }}
  mode: statefulset
  replicas: {{ .Values.sumologic.metrics.collector.otelcol.replicaCount }}
  serviceAccount: {{ template "sumologic.metadata.name.metrics.collector.serviceaccount" . }}
  targetAllocator:
    serviceAccount: {{ template "sumologic.metadata.name.metrics.targetallocator.serviceaccount" . }}
    enabled: true
    filterStrategy: relabel-config
    prometheusCR:
      enabled: true
      scrapeInterval: {{ .Values.sumologic.metrics.collector.otelcol.scrapeInterval }}
      serviceMonitorSelector:
{{- if .Values.sumologic.metrics.collector.otelcol.serviceMonitorSelector }}
        {{ .Values.sumologic.metrics.collector.otelcol.serviceMonitorSelector | toYaml | nindent 8 }}
{{- else }}
        release: {{ .Release.Name }}
{{- end }}
      podMonitorSelector:
{{- if .Values.sumologic.metrics.collector.otelcol.podMonitorSelector }}
        {{ .Values.sumologic.metrics.collector.otelcol.podMonitorSelector | toYaml | nindent 8 }}
{{- else }}
        release: {{ .Release.Name }}
{{- end }}
{{- if .Values.sumologic.metrics.collector.otelcol.nodeSelector }}
  nodeSelector:
{{ toYaml .Values.sumologic.metrics.collector.otelcol.nodeSelector | indent 4 }}
{{- end }}
{{- if .Values.sumologic.metrics.collector.otelcol.tolerations }}
  tolerations:
{{ toYaml .Values.sumologic.metrics.collector.otelcol.tolerations | indent 4 }}
{{- end }}
{{- if .Values.sumologic.metrics.collector.otelcol.priorityClassName }}
  priorityClassName: {{ .Values.sumologic.metrics.collector.otelcol.priorityClassName | quote }}
{{- end }}
{{- if .Values.sumologic.metrics.collector.otelcol.autoscaling.enabled }}
  autoscaler:
    maxReplicas: {{ .Values.sumologic.metrics.collector.otelcol.autoscaling.maxReplicas }}
    minReplicas: {{ .Values.sumologic.metrics.collector.otelcol.autoscaling.minReplicas }}
    targetCPUUtilization: {{ .Values.sumologic.metrics.collector.otelcol.autoscaling.targetCPUUtilizationPercentage }}
{{- if .Values.sumologic.metrics.collector.otelcol.autoscaling.targetMemoryUtilizationPercentage }}
    targetMemoryUtilization: {{ .Values.sumologic.metrics.collector.otelcol.autoscaling.targetMemoryUtilizationPercentage }}
{{- end }}
{{- end }}
  env:
  - name: METADATA_METRICS_SVC
    valueFrom:
      configMapKeyRef:
        name: sumologic-configmap
        key: metadataMetrics
  - name: NAMESPACE
    valueFrom:
      fieldRef:
        fieldPath: metadata.namespace
  podAnnotations:
    ## The operator adds this annotation by default, but we use our own ServiceMonitor
    prometheus.io/scrape: "false"
{{- if .Values.sumologic.podAnnotations -}}
    {{ toYaml .Values.sumologic.podAnnotations | nindent 4 }}
{{- end }}
{{- if .Values.sumologic.metrics.collector.otelcol.podAnnotations -}}
    {{ toYaml .Values.sumologic.metrics.collector.otelcol.podAnnotations | nindent 4 }}
{{- end }}
  podSecurityContext:
    {{ .Values.sumologic.metrics.collector.otelcol.securityContext | toYaml | nindent 4 }}
  ports:
  - name: pprof
    port: 1777
  resources:
    {{ .Values.sumologic.metrics.collector.otelcol.resources | toYaml | nindent 4 }}
  volumes:
  - name: tmp
    emptyDir: {}
  - name: file-storage
    emptyDir: {}
  volumeMounts:
  - name: tmp
    mountPath: /tmp
  - name: file-storage
    mountPath: /var/lib/storage/otc
  config: |
{{- (tpl (.Files.Get "conf/metrics/collector/otelcol/config.yaml") .) | nindent 4 }}
{{- end }}
