{{ if and (eq (include "metrics.otelcol.enabled" .) "true") .Values.sumologic.metrics.collector.otelcol.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "sumologic.metadata.name.metrics.collector.serviceaccount" . }}
  namespace: {{ template "sumologic.namespace"  . }}
  labels:
    {{- include "sumologic.labels.metrics.serviceaccount" . | nindent 4 }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
{{- if .Values.sumologic.pullSecrets }}
imagePullSecrets:
{{ toYaml .Values.sumologic.pullSecrets | indent 2 }}
{{- end }}
{{- end }}
