prometheus-operator:
  grafana:
    enabled: true
    dashboardsConfigMaps:
      default: sumologic-dashboards
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
    sidecar:
      image:
        sha: ''
  prometheus:
    prometheusSpec:
      externalLabels:
        cluster: microk8s
      resources:
        limits:
          cpu: 4000m
          memory: 12Gi
        requests:
          cpu: 500m
          memory: 512Mi
      remoteWrite:
        - url: http://$(CHART).$(NAMESPACE).svc.cluster.local:9888/prometheus.metrics.avalanche
          writeRelabelConfigs:
            - action: keep
              regex: avalanche.*
              sourceLabels: [__name__]

metrics:
  enabled: true
  output:
    default:
      tag: prometheus.metrics**
      id: sumologic.endpoint.metrics
      weight: 100

sumologic:
  accessId: dummy
  accessKey: dummy
  endpoint: http://receiver-mock.receiver-mock:3000/terraform/api/

telegraf-operator:
  enabled: true
  replicaCount: 1

falco:
  enabled: true
  customRules:
    # Mark the following as known k8s api callers:
    # * fluentd and its plugins
    # * grafana sidecar
    # * terraform provider started in setup job
    # * telegraf operator
    # * kube state metrics server
    # * prometheus
    # * prometheus operator
    rules_user_known_k8s_api_callers.yaml: |-
      - macro: user_known_contact_k8s_api_server_activities
        condition: >
          (proc.pcmdline = "fluentd /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins") or
          (proc.cmdline = "fluentd /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins") or
          (proc.cmdline = "ruby -Eascii-8bit:ascii-8bit /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins --under-supervisor") or
          (proc.cmdline = "event_loop -Eascii-8bit:ascii-8bit /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins --under-supervisor") or
          (proc.cmdline = "watch_endpoints -Eascii-8bit:ascii-8bit /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins --under-supervisor") or
          (proc.cmdline = "watch_events -Eascii-8bit:ascii-8bit /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins --under-supervisor") or
          (proc.cmdline = "filter_kuberne* /usr/local/bundle/bin/fluentd -c /fluentd/etc/fluent.conf -p /fluentd/plugins") or
          (proc.cmdline = "python -u /app/sidecar.py") or
          (proc.cmdline startswith "terraform-provi") or
          (proc.cmdline startswith "manager --telegraf-default-class=sumologic-prometheus --telegraf-classes-directory=/etc/telegraf-operator --enable-default-internal-plugin --telegraf-image=docker.io/library/telegraf") or
          (proc.cmdline startswith "kube-state-metr") or
          (proc.cmdline startswith "prometheus") or
          (proc.cmdline startswith "operator")
