{{- if eq (include "metrics.remoteWriteProxy.enabled" .) "true" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "sumologic.metadata.name.remoteWriteProxy.configmap" . }}
  namespace: {{ template "sumologic.namespace"  . }}
  labels:
    app: {{ template "sumologic.labels.app.remoteWriteProxy.configmap" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
data:
{{- (tpl (.Files.Glob "conf/metrics/remote-write-proxy/remote-write-proxy.conf").AsConfig .) | nindent 4 }}
{{- end }}
