{{- if eq (include "metrics.remoteWriteProxy.enabled" .) "true" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "sumologic.metadata.name.remoteWriteProxy.service" . }}
  namespace: {{ template "sumologic.namespace" . }}
  labels:
    app: {{ template "sumologic.labels.app.remoteWriteProxy.service" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
spec:
  ports:
    - name: http
      port: 9888
      targetPort: {{ .Values.sumologic.metrics.remoteWriteProxy.config.port }}
  selector:
    app: {{ template "sumologic.labels.app.remoteWriteProxy.pod" . }}
{{- end }}
