{{- if .Values.sumologic.cleanupEnabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "sumologic.metadata.name.cleanup" . }}
  namespace: {{ template "sumologic.namespace"  . }}
  annotations:
{{ include "sumologic.annotations.app.cleanup.helmsh" "3" | indent 4 }}
  labels:
    app: {{ template "sumologic.metadata.name.cleanup" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
spec:
  template:
    metadata:
      annotations:
{{- if .Values.sumologic.podAnnotations }}
{{ toYaml .Values.sumologic.podAnnotations | indent 8 }}
{{- end }}
      labels:
{{- if .Values.sumologic.podLabels }}
{{ toYaml .Values.sumologic.podLabels | indent 8 }}
{{- end }}
    spec:
      restartPolicy: OnFailure
      serviceAccountName: {{ template "sumologic.metadata.name.cleanup.roles.serviceaccount" . }}
      volumes:
      - name: configmap
        configMap:
          name: {{ template "sumologic.metadata.name.cleanup.configmap" . }}
          defaultMode: 0777
      - name: cleanup
        emptyDir: {}
      initContainers:
      - name: copy-files
        image: public.ecr.aws/docker/library/busybox:latest
        command: ['sh', '-c', 'cp /configmap/* /etc/terraform']
        volumeMounts:
          - name: configmap
            mountPath: /configmap
          - name: cleanup
            mountPath: /etc/terraform
      containers:
        - name: cleanup
          image: {{ .Values.sumologic.setup.job.image.repository }}:{{ .Values.sumologic.setup.job.image.tag }}
          imagePullPolicy: {{ .Values.sumologic.setup.job.image.pullPolicy }}
          volumeMounts:
          - name: cleanup
            mountPath: /etc/terraform
          command: ["/etc/terraform/cleanup.sh"]
          envFrom:
          - secretRef:
              name: {{ .Values.sumologic.envFromSecret | default (include "sumologic.metadata.name.setup.secret" .)}}
          env:
          - name: SUMOLOGIC_BASE_URL
{{- if eq (include "sumologic-mock.local-mode-enabled" .) "true" }}
            value: http://{{ template "sumologic-mock.hostname" . }}:{{ template "sumologic-mock.port" . }}/terraform/api/
{{- else }}
            value: {{ .Values.sumologic.endpoint }}
{{- end }}
          {{- include "proxy-env-variables" . | nindent 10 }}
      securityContext:
        runAsUser: 999
{{- end }}
