{{- if .Values.sumologic.cleanupEnabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "sumologic.metadata.name.cleanup" . }}
  annotations:
{{ include "sumologic.annotations.app.cleanup.helmsh" "3" | indent 4 }}
  labels:
    app: {{ template "sumologic.metadata.name.cleanup" . }}
    {{- include "sumologic.labels.common" . | nindent 4 }}
spec:
  template:
    metadata:
      annotations:
{{- if .Values.sumologic.podAnnotations }}
{{ toYaml .Values.sumologic.podAnnotations | indent 8 }}
{{- end }}
      labels:
{{- if .Values.sumologic.podLabels }}
{{ toYaml .Values.sumologic.podLabels | indent 8 }}
{{- end }}
    spec:
      restartPolicy: OnFailure
      serviceAccountName: {{ template "sumologic.metadata.name.cleanup.roles.serviceaccount" . }}
      volumes:
      - name: configmap
        configMap:
          name: {{ template "sumologic.metadata.name.cleanup.configmap" . }}
          defaultMode: 0777
      - name: cleanup
        emptyDir: {}
      initContainers:
      - name: copy-files
        image: public.ecr.aws/docker/library/busybox
        command: ['sh', '-c', 'cp /configmap/* /etc/terraform']
        volumeMounts:
          - name: configmap
            mountPath: /configmap
          - name: cleanup
            mountPath: /etc/terraform
      containers:
        - name: cleanup
          image: {{ .Values.sumologic.setup.job.image.repository }}:{{ .Values.sumologic.setup.job.image.tag }}
          imagePullPolicy: {{ .Values.sumologic.setup.job.image.pullPolicy }}
          volumeMounts:
          - name: cleanup
            mountPath: /etc/terraform
          command: ["/etc/terraform/cleanup.sh"]
          {{- if .Values.sumologic.envFromSecret }}
          envFrom:
          - secretRef:
              name: {{ .Values.sumologic.envFromSecret }}
          {{ else }}
          env:
          - name: SUMOLOGIC_ACCESSID
            value: {{ required "A valid .Values.sumologic.accessId entry required!" .Values.sumologic.accessId }}
          - name: SUMOLOGIC_ACCESSKEY
            value: {{ required "A valid .Values.sumologic.accessKey entry required!" .Values.sumologic.accessKey }}
          - name: SUMOLOGIC_BASE_URL
            value: {{ .Values.sumologic.endpoint }}
          - name: HTTP_PROXY
            value: {{ .Values.sumologic.httpProxy }}
          - name: HTTPS_PROXY
            value: {{ .Values.sumologic.httpsProxy }}
          - name: NO_PROXY
            value: {{ .Values.sumologic.noProxy }}
          {{ end }}
      securityContext:
        runAsUser: 999
{{- end }}
