exporters:
  - sumologic/default
{{- if eq .Values.debug.metrics.metadata.print true }}
  - debug
{{- end }}
{{- if eq (include "sumologic-mock.forward-metrics-metadata" .) "true" }}
  - sumologic/sumologic-mock-default
{{- end }}
{{- if eq .Values.sumologic.metrics.sourceType "http" }}
  - sumologic/apiserver
  - sumologic/control_plane
  - sumologic/controller
  - sumologic/kubelet
  - sumologic/node
  - sumologic/scheduler
  - sumologic/state
{{- if eq (include "sumologic-mock.forward-metrics-metadata" .) "true" }}
  - sumologic/sumologic-mock-http
{{- end }}
{{- end }}
processors:
  - memory_limiter
  - metricstransform
  - groupbyattrs
  - resource
  - k8s_tagger
  - source
  - sumologic
{{- if .Values.sumologic.metrics.otelcol.extraProcessors }}
{{- range $processor := .Values.sumologic.metrics.otelcol.extraProcessors }}
{{ printf "- %s" ( $processor | keys | first ) | indent 2 }}
{{- end }}
{{- end }}
  - resource/remove_k8s_pod_pod_name
  - resource/delete_source_metadata
  - transform/set_name
  - groupbyattrs/group_by_name
  - transform/remove_name
  - filter/drop_unnecessary_metrics
{{- if .Values.sumologic.metrics.enableDefaultFilters }}
  - filter/app_metrics
{{- end }}
  - batch
{{- if eq .Values.sumologic.metrics.sourceType "http" }}
  - routing
{{- end }}
receivers:
  - telegraf
  - otlp
