name: PRs checks

on:
  pull_request:
    branches: [ main ]

jobs:
  envs:
    runs-on: ubuntu-20.04
    steps:
      - uses: FranzDiebold/github-env-vars-action@v1.2.1
      - name: Print environment variables
        run: |
          echo "PR from ${GITHUB_REF#refs/heads/} in ref ${GITHUB_REF}"

  markdownlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: install markdownlint
        run: gem install mdl
      # - name: markdownlint check
      #   run: make markdownlint

  shellcheck:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install shellcheck
        run: |
            curl --retry 10 --retry-max-time 120 --retry-delay 5 -Lo- https://github.com/koalaman/shellcheck/releases/download/v0.7.1/shellcheck-v0.7.1.linux.x86_64.tar.xz | tar -xJf -
            sudo cp shellcheck-v0.7.1/shellcheck /usr/local/bin && rm -rf shellcheck-v0.7.1
      - name: shellcheck
        run: make shellcheck

  test:
    runs-on: ubuntu-20.04
    needs: [markdownlint, shellcheck]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - run: gem install bundler
      - name: yq
        run: |
            curl --retry 10 --retry-max-time 120 --retry-delay 5 -L -o /tmp/yq https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64
            chmod +x /tmp/yq
            sudo mv /tmp/yq /usr/local/bin/yq
      - name: test
        run: make test

  build:
    runs-on: ubuntu-20.04
    needs: [markdownlint, shellcheck, test]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - run: gem install bundler
      - name: yq
        run: |
            curl --retry 10 --retry-max-time 120 --retry-delay 5 -L -o /tmp/yq https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64
            chmod +x /tmp/yq
            sudo mv /tmp/yq /usr/local/bin/yq
      - name: build
        run: make build
